body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    padding: 0;
    margin: 0;
    font-family: "微软雅黑", "Microsoft YaHei";
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-weight: normal;
    font-style: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
}

q:before,
q:after {
    content: ”;
}

abbr,
acronym {
    border: 0;
}

html {
    font-size: 14px;
}

html,
body {
    width: 100%;
    height: 100%;
}

.mainWrap {
    min-width: 1366px;
    min-height: 600px;
    width: 100%;
    height: 100%;
    background-color: #E7EBF1;
}

a {
  text-decoration: none;
  color: #000;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
/*editorWang特定要添加的样式*/
  /* table 样式 */
  table {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
  table td,
  table th {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 3px 5px;
  }
  table th {
    border-bottom: 2px solid #ccc;
    text-align: center;
  }
  
  /* blockquote 样式 */
  blockquote {
    display: block;
    border-left: 8px solid #d0e5f2;
    padding: 5px 10px;
    margin: 10px 0;
    line-height: 1.4;
    font-size: 100%;
    background-color: #f1f1f1;
  }
  
  /* code 样式 */
  code {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background-color: #f1f1f1;
    border-radius: 3px;
    padding: 3px 5px;
    margin: 0 3px;
  }
  pre code {
    display: block;
  }
  
  /* ul ol 样式 */
  ul, ol {
    margin: 10px 0 10px 20px;
  }

.navigation .van-tabbar-item__icon{
    font-size: .5rem !important;
    margin-bottom: .15rem;
}

.dataSelect .van-picker__toolbar{
    height: 1rem !important;
    line-height: 1rem !important; 
  }
  .dataSelect .van-picker__title{
   line-height: 1rem;
  }
  /* 由于wangeditor默认的层级过高遮住了对话框，对层级进行调整 */
  .w-e-menu {
    z-index: 2 !important;
  }
  .w-e-toolbar{
    z-index: 2 !important;
    flex-wrap: wrap;
  }
  .w-e-text-container {
    z-index: 1 !important;
  }

  .van-toast{
    width: 3.1rem;
    line-height:1.8rem;
    font-size: 0.4rem;
  }
  .van-toast__icon {
    font-size: 0.8rem;
    margin-top: 0.5rem; 
  }
  .van-toast__text{
    line-height: 0.8rem;
  }